@font-face{
    font-family: algerian;
    src: url(../asset/AlgerianRegular.ttf) format('truetype');
}


@media only screen and (max-width: 640px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header{
        width: 100%;
        height: 300vh;
        background: url(../asset/background-wood-mobile.jpg);

        // Navigation bar and burger

        nav{
            position: fixed;
            width: 100%;
            top: 0px;
            display: flex;
            height: 40px;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 100;
        }

        .burger{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 40px;
            padding: 5px 10px;
            z-index: 100;
            left: 0px;
        }

        .burger-line{
            width: 26px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: 0.3s;
        }

        ul{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0px;
            overflow: hidden;
            background: #f6f6f6;
            top: 40px;
            width: 100%;
            transition: 0.5s;
            opacity: 0;
        }

        li{
            list-style: none;
            padding: 10px 10px;
            text-align: center;
        }

        .link{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        .nav-title{
            font-family: algerian;
        }
        // Upper area text

        .intro{
            position: absolute;
            width: 100%;
            height: 200px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 200px;

        }

        .intro-text{
            font-family: 'Merienda One', cursive;
            font-size: 40px;
            color: white;
        }

        .intro-desc{
            font-family: roboto;
            color: white;
            margin-top: 40px;
        }
  
        .table{
            position: absolute;
            pointer-events: none;
            width: 100%;
        }

        .coffee{
            position: absolute;
            pointer-events: none;
            z-index: 1;
            pointer-events: none;
            width: 100%;
        }
        
        .cake{
            position: absolute;
            z-index: 2;
            width: 100%;
            pointer-events: none;
        }

        // Hamburger on click animation

        div.activated ~ .nav-links{
            height: 150px;
            transition: 0.5s;
            opacity: 1;
        }

        div.activated > .burger-line:nth-child(1){
            transform: rotate(45deg);
            position: absolute;
            transition: 0.3s;
        }
        div.activated > .burger-line:nth-child(2){
            opacity: 0;
            transition: 0.3s;
        }
        div.activated > .burger-line:nth-child(3){
            transform: rotate(-45deg);
            position: absolute;
            transition: 0.3s;
        }

        .page-btn{
            position: relative;
            top: 110vh;
            display: flex;
            justify-content: space-evenly;
        
            button{
                width: 100px;
                height: 40px;
                background: url(../asset/button-mobile.png);
                color: white;
                border: 1px solid black;
                font-family: 'Merienda One', cursive;
            }
        }

        // Location Card

        .location-card{
            position: relative;
            top: 100vh;
            width: 100%;
            height: 180vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .card{
                height: 50vh;
                width: 60%;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img{
                    z-index: 1;
                    transform: scale(0.8);
                    transition: 0.5s;
                }

                a{
                    position: absolute;
                    z-index: 2;
                    color: white;
                    text-decoration: none;
                    font-family: 'Merienda One', cursive;
                }
            
            }
            
            // Card zoom out on hover

            .card:hover .card-img{
                transform: scale(0.4);
                transition: 0.5s;
            }
        }

    }
}

@media only screen and (min-width: 640px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    // Disable burger on desktop
    .burger{
        display: none;
    }

    header{
        width: 100%;
        height: 230vh;
        background: url(../asset/background-wood-desktop.png);
        background-size: cover;
    }

    // navigation bar

    nav{
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: white;
        z-index: 1000;
        transition: 0.2s;
    }

    .nav-title{
        font-size: 30px;
        font-family: algerian;
    }

    ul{
        display: flex;
        
    }

    li{
        list-style: none;

    }

    .link{
        text-decoration: none;  
        color: black;
        padding: 0px 20px;
        font-size: 30px;
        outline: none;
        font-family: 'Merienda One', cursive;
    }

    // Navbar on scroll

    nav.shrink{
        height: 40px;
        transition: 0.2s;
    }

    // Introduction text

    .intro{
        position: absolute;
        width: 100%;
        height: 50vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;

    }

    .intro-text{
        font-family: 'Merienda One', cursive;
        font-size: 60px;
        color: white;
    }

    .intro-desc{
        font-family: roboto;
        color: white;
        margin-top: 60px;
    }


    // Parallax Images

    .table{
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    
    .coffee{
        position: absolute;
        z-index: 1;
        width: 100%;
        pointer-events: none;
    }

    .cake{
        position: absolute;
        z-index: 2;
        width: 100%;
        pointer-events: none;
    }

    // Banner

    .banner{
        position: relative;
        width: 100%;
        height: 9d0vh;
        top: 120vh;
        background: url(../asset/banner-table.jpeg);
        background-size: cover;
    }


    // Buttons

    .page-btn{
        display: none;
    }


    // Location Card

    .location-card{
        position: relative;
        top: 130vh;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;

        .card{
            height: 100%;
            width: 20%;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img{
                z-index: 1;
                transform: scale(0.8);
                transition: 0.5s;
            }

            a{
                position: absolute;
                z-index: 2;
                color: white;
                text-decoration: none;
                font-family: 'Merienda One', cursive;
            }
        
        }
        
        // Card zoom out on hover

        .card:hover .card-img{
            transform: scale(0.6);
            transition: 0.5s;
        }
    }
}