@font-face{
    font-family: algerian;
    src: url(../asset/AlgerianRegular.ttf) format('truetype');
}

// DESKTOP SUPPORT

@media only screen and (min-width: 640px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    // Disable burger on desktop
    .burger{
        display: none;
    }

    header{
        width: 100%;
        height: 200vh;
        background: url(../asset/background-wood-desktop.png);
        background-size: cover;
    }

    // navigation bar

    nav{
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: white;
        z-index: 1000;
        transition: 0.2s;
    }

    .nav-title{
        font-size: 30px;
        font-family: algerian;
    }

    ul{
        display: flex;
        
    }

    li{
        list-style: none;

    }

    .link{
        text-decoration: none;  
        color: black;
        padding: 0px 20px;
        font-size: 30px;
        outline: none;
        font-family: 'Merienda One', cursive;
    }

    // Navbar on scroll

    nav.shrink{
        height: 40px;
        transition: 0.2s;
    }

    // Menu text
    
    .menu-title{
        position: relative;
        top: 20vh;
        width: fit-content;
        margin: auto;

        h1{
            font-size: 100px;
            color: white;
            font-family: 'Galada', cursive;
        }
    }

    // Menu section

    .menu{
        position: relative;
        width: 100%;
        top: 40vh;
        height: 100vh;

        .food-btn-box{
            position: relative;
            margin: auto;
            width: 94%;
            vertical-align: middle;
        }

        .food-btn{
            width: 100px;
            height: 40px;
            background: url(../asset/menu/menu-btn.png);
            border: none;
            outline: none;
            margin-top: 20px;
            font-family: 'Mali', cursive;
            font-size: 12px;
            transition: 0.5s;
        }

        .food-btn:hover{
            transition: 0.5s;
            font-size: 15px;
        }

        button.activated{
            font-size: 15px;
            transition: 0.5s;
        }

        .image{
            width: 100%;
            height: 90vh;
            margin: auto;
            padding: 5vh;
            display: flex;
            overflow: hidden;
        }

        .menu-img{
            position: relative;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

// MOBILE SUPPORT

@media only screen and (max-width: 640px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header{
        width: 100%;
        height: 200vh;
        background: url(../asset/background-wood-mobile.jpg);

        // Navigation bar and burger

        nav{
            position: fixed;
            width: 100%;
            top: 0px;
            display: flex;
            height: 40px;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 100;
        }

        .burger{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 40px;
            padding: 5px 10px;
            z-index: 100;
            left: 0px;
        }

        .burger-line{
            width: 26px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: 0.3s;
        }

        ul{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0px;
            overflow: hidden;
            background: #f6f6f6;
            top: 40px;
            width: 100%;
            transition: 0.5s;
            opacity: 0;
        }

        li{
            list-style: none;
            padding: 10px 10px;
            text-align: center;
        }

        .link{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        .nav-title{
            font-family: algerian;
        }

        // Hamburger on click animation

        div.activated ~ .nav-links{
            height: 150px;
            transition: 0.5s;
            opacity: 1;
        }

        div.activated > .burger-line:nth-child(1){
            transform: rotate(45deg);
            position: absolute;
            transition: 0.3s;
        }
        div.activated > .burger-line:nth-child(2){
            opacity: 0;
            transition: 0.3s;
        }
        div.activated > .burger-line:nth-child(3){
            transform: rotate(-45deg);
            position: absolute;
            transition: 0.3s;
        }
    }

        // Menu text
    
        .menu-title{
            position: relative;
            top: 20vh;
            width: fit-content;
            margin: auto;
    
            h1{
                font-size: 100px;
                color: white;
                font-family: 'Galada', cursive;
            }
        }
    
        // Menu section
    
        .menu{
            position: relative;
            width: 100%;
            top: 40vh;
            height: 100vh;
    
            .food-btn-box{
                position: relative;
                margin: auto;
                width: 310px;
                vertical-align: middle;
                height: 160px;
                overflow: scroll;

            }
    
            .food-btn{
                width: 100px;
                height: 40px;
                overflow: hidden;
                background: url(../asset/menu/menu-btn.png);
                border: none;
                outline: none;
                margin-top: 10px;
                font-family: 'Mali', cursive;
                font-size: 12px;
                transition: 0.5s;
            }
    
            .food-btn:hover{
                
            }

            button.activated{
                font-size: 15px;
                transition: 0.5s;
            }
    
            .image{
                width: 100%;
                height: 90vh;
                margin: auto;
                padding: 5vh;
                display: flex;
                overflow: hidden;
            }
    
            .menu-img{
                position: relative;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
}